* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.page-top-bar {
    list-style: none;
    margin-top: 26px;
    margin-bottom: 26px;
    text-align: center;
}

.page-top-item {
    display: inline-block;
}

.page-top-link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 3px;
    color: #FF0000;
    padding: 20px 50px;
}

.page-image {
    width: 100%;
}

.container {
    width: 1145px;
    margin: 0 auto;
}

.main-title {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 48px;
    margin-bottom: 48px;
}

.main-text {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
    margin-top: 28px;
    margin-bottom: 30px;
}

.main-button {
    text-align: center;
}

.main-button-link {
    display: inline-block;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #FF0000;
    border-radius: 4px;
    padding: 18px 43px;
    text-decoration: none;
    margin-top: 36px;
}

.bottom-bar {
    text-align: right;
    margin-top: 82px;
    margin-right: 105px;
    margin-bottom: 29px;
}

.bottom-bar-text {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
}