.container {
    width: 1280px;
    margin: 0 auto;
}
.company-name {
    font-size: 80px;
    font-family: Roboto, sans-serif;
    line-height: 94px;
    color:#000000;
    text-decoration: none;
    margin-top: 60px;
    display: inline-block;
}
.text-blue {
    color: #00c4ff;;
}
.nav-bar {
    background-color: #35444F;
    text-align: center;
    margin-top: 38px;
    margin-bottom: 50px;
}
.nav-bar-link {
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    display: inline-block;
    padding: 25px 40px;
    border-left: 1px solid #FFFFFF;;
}
.nav-bar-link-last {
    border-right: 1px solid #FFFFFF;
}
.nav-bar-link:hover {
    background-color: #222F3A; /* Зміна кольору посилання при наведенні курсора */
}
.site-bar {
    width: 344px;
    display: inline-block;
    vertical-align: top;
    margin-right: 46px;
}
.aside-menu {
    border: 1px solid #000000;
}

.aside-menu-link {
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-size: 27px;
    line-height: 27px;
    color: #485863;
    padding-top: 27px;
    padding-bottom: 27px;
    padding-left: 40px;
    display: block;
}
.aside-menu-link:hover {
    background-color: #DBDBDB; /* Зміна кольору посилання при наведенні курсора */
}
.main-content {
    display: inline-block;
    width: 885px;
}
.picture-wrap {
    border: 1px solid #000000;
    padding: 75px 283px;
}

.main-picture {
    width: 100%;
}
.main-picture:hover {
    transform: scale(1.2);
    transition: 1s;
}
.main-text {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    margin-top: 34px;
}
.bottom-bar {
    background-color: #878b91;
    margin-top: 54px;
}
.bottom-bar-nav {
    display: inline-block;
    margin-right: 60px;
}
.bottom-bar-nav-link {
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
    padding: 20px;
    display: inline-block;
}
.bottom-bar-nav-link:hover {
    color: #00c4ff;
    text-decoration: underline;
}
.copyright-text {
    display: inline-block;
    font-size: 24px;
    color: #010101;
    font-family: Roboto,sans-serif;
}
